<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TaksList Java</title>
</head>
<body>
    <h1>TaskList em Java</h1>
    <div class="lists">
        <div class="to-do">
            <ul>
                <li>task</li>
                <li>task</li>
                <li>task</li>
                <li>task</li>
            </ul>
        </div>
        <div class="made">
            <ul>
                <li>task</li>
                <li>task</li>
                <li>task</li>
                <li>task</li>
            </ul>
        </div>

        <button class="add-task">ADD task</button>
    </div>
</body>
</html>